target/
.mvn/*
**/src/main/**/target/
**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

src/main/java/cn/qkmango/ccms/test/
src/test/

out
/src/main/java/cn/qkmango/ccms/mvc/controller/Test2.java
/src/main/resources/application.properties
/src/main/java/cn/qkmango/ccms/mvc/dao/TestDao.java
/src/main/java/cn/qkmango/ccms/mvc/dao/TestDao.xml
/src/main/resources/rebel.xml

# 这两个文件包含第三方平台配置信息，不能上传到仓库
/src/main/resources/application-prd_provate.yml
/src/main/resources/application-dev_private.yml

/src/main/java/cn/qkmango/ccms/mvc/Test2Controller.java