target/
.mvn/*
**/src/main/**/target/
**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

src/main/resources/static/test/
src/main/java/cn/qkmango/ccms/test/
src/main/resources/static/lib/layui-v2.6.3/layui_update.js
src/main/resources/static/**/*.bak.*
src/test/
/src/main/resources/static/page/user/common/data.json
/src/main/resources/static/api/test.json
/src/main/resources/static/page/*/*/*test.json
/src/main/resources/static/page/**/*.test.json
/src/main/resources/static/**/*.test.css
out
/src/main/java/cn/qkmango/ccms/mvc/controller/Test2.java
/src/main/resources/application.properties
/src/main/resources/static/api/upload.json
/src/main/resources/static/api/tableSelect.json
/src/main/resources/static/api/table.json
/src/main/resources/static/api/menus.json
/src/main/resources/static/api/clear.json
/src/main/resources/static/api/init.json
/src/main/resources/static/lib/layui-v2.7.6/
/src/main/java/cn/qkmango/ccms/mvc/dao/TestDao.java
/src/main/java/cn/qkmango/ccms/mvc/dao/TestDao.xml
/src/main/resources/rebel.xml
